Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/.libs/
src/FluidSynth-DSSI_gtk
src/FluidSynth_DSSI_gtk-FluidSynth-DSSI_gtk.o
src/FluidSynth_DSSI_gtk-load_soundfont_metadata.o
src/FluidSynth_DSSI_gtk-locate_soundfont.o
src/Makefile
src/Makefile.in
src/fluidsynth-dssi.la
src/fluidsynth_dssi_la-fluidsynth-dssi.lo
src/fluidsynth_dssi_la-locate_soundfont.lo
stamp-h1

